html {
  font-size: 62.5%;
}
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  display: grid;
  gap: 60px;
  background: #f7f7f7;
}

header {
  display: grid;
  gap: 40px;
}
ul {
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
}
h1 {
  font-size: 3.2rem;
}
p {
  font-size: 2rem;
}
h3, p {
  font-size: 2rem;
  margin: 0;
}
.title {
  margin-top: 60px;
  text-align: center;
}
.nav {
  text-align: center;
}
.menu {
  display: inline-block;
}

.inicio {
  display: inline-block;
  padding: 1.5rem 3rem;
  text-decoration: none;
  background: white;
  font-size: 1.3rem;
  margin: 10px;
  color: black;
  border-radius: 4px;
  border: 2px solid transparent;
}

.inicio:hover {
  border-color: #ee2211;
}

.grid {
  display: grid;
  max-width: 100rem;
  grid-template-columns: 1fr 1fr;
  margin: auto;
}
.bicicleta {
  max-width: 100%;
  object-fit: cover;
  object-position: top left;
  height: 100%;
}

.descricao {
  background: white;
  padding: 40px;
  text-align: end;
}

.move {
  display: inline-block;
  padding: 1.5rem 3rem;
  background: #ee2211;
  border-radius: 4px;
  text-decoration: none;
  font-size: 1.3rem;
  color: white;
  margin-top: 30px;
}
.move:hover {
  background-color: #900;
}

.vantagens {
  background-image: url("img/onda.svg");
  font-size: 6.4rem;
  color: #c6c6c6;
  text-align: end;
  margin: auto;
  margin-right: 20px;
}

.detalhes2 {
  background: white;
  padding: 30px;
}

.barra {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 20px;
  padding: 20px;
}

.barra:nth-child(odd) {
  background-color: #f7f7f7;
}

.barra:hover {
  border-left: 4px solid #ee2211;
}
.barra p {
  grid-column: 2;
}

.footer {
  display: inline-block;
  background: white;
  text-align: center;
  padding: 30px;
}

@media (max-width: 1050px) {
  body, header {
    gap: 30px;
  }
  header a {
    display: flex;
  }
  .responsivo {
    grid-template-columns: 1fr;
  }
  .vantagens{
    text-align: center;
    margin: 20px auto;
    font-size: 4.8rem;
  }
  .detalhes2 {
    place-self: center;
  }
}
@media (max-width: 600px) {
  .grid {
    grid-template-columns: 1fr;
  }
  .descricao {
    text-align: left;
  }
}